@mixin star-center($padding-side: 25px, $padding-top: 15px){
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: $padding-side $padding-top;

}
@mixin posicion($top, $left){
	position: absolute;
	top: $top;
	left: $left;
}
@mixin glow($radius){
	box-shadow: 0 0 $radius $color-estrella;
	animation: glow 5s ease-in-out infinite;
}