@import "_variable";
@import "_mixins";
@import "_esfera";

*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	position: relative;
}
body{
	background: url(../img/fondo.jpg) no-repeat;
    background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}
.container {
	background: transparent;

	.esfera {
		background:$color-esfera;
		border-radius: 50px;
		width: 100px;
		height: 100px;
		margin: 2%;
	}
	.estrella-1{
		@include posicion(25px, 32%);
		@include star-center;
		@include star;
		@include glow(20px);	
	}
	.estrella-2{
		@include posicion(140px, 30%);
		@include star-center(35px, 15px);
		@include star(17px);
	}
	.estrella-3{
		@include posicion(220px, 35%);
		@include star-center(25px, 15px);
		@include star(13px);
	}
	.estrella-4{
		@include posicion(220px, 43%);
		@include star-center(22px, 15px);
		@include star(13px);
	}
	.estrella-5{
		@include posicion(160px, 50%);
		@include star-center(28px, 20px);
		@include star(10px);
	}
	.estrella-6{
		@include posicion(30px, 48%);
		@include star-center(28px, 12px);
		@include star(10px);
	}
	.estrella-7{
		@include posicion(0px, 40%);
		@include star-center(25px, 10px);
		@include star(10px);
	}
}