/*****colores****/
/****tananio*****/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  position: relative; }

body {
  background: url(../img/fondo.jpg) no-repeat;
  background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: center; }

.container {
  background: transparent; }
  .container .esfera {
    background: #ff9933;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    margin: 2%; }
  .container .estrella-1 {
    position: absolute;
    top: 25px;
    left: 32%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px 15px;
    box-shadow: 0 0 20px #ff0000;
    animation: glow 2s ease-in-out infinite; }
    .container .estrella-1 .star-five {
      margin: 15px 0;
      position: relative;
      display: block;
      color: #ff0000;
      width: 0px;
      height: 0px;
      border-right: 30px solid transparent;
      border-bottom: 21px solid #ff0000;
      border-left: 30px solid transparent;
      -moz-transform: rotate(35deg);
      -webkit-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
      -o-transform: rotate(35deg); }
    .container .estrella-1 .star-five:before {
      border-bottom: 24px solid #ff0000;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      position: absolute;
      height: 0;
      width: 0;
      top: -13.5px;
      left: -19.5px;
      display: block;
      content: '';
      -webkit-transform: rotate(-35deg);
      -moz-transform: rotate(-35deg);
      -ms-transform: rotate(-35deg);
      -o-transform: rotate(-35deg); }
    .container .estrella-1 .star-five:after {
      position: absolute;
      display: block;
      color: #ff0000;
      top: 0.9px;
      left: -31.5px;
      width: 0px;
      height: 0px;
      border-right: 30px solid transparent;
      border-bottom: 21px solid #ff0000;
      border-left: 30px solid transparent;
      -webkit-transform: rotate(-70deg);
      -moz-transform: rotate(-70deg);
      -ms-transform: rotate(-70deg);
      -o-transform: rotate(-70deg);
      content: ''; }
  .container .estrella-2 {
    position: absolute;
    top: 140px;
    left: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 35px 15px; }
    .container .estrella-2 .star-five {
      margin: 8.5px 0;
      position: relative;
      display: block;
      color: #ff0000;
      width: 0px;
      height: 0px;
      border-right: 17px solid transparent;
      border-bottom: 11.9px solid #ff0000;
      border-left: 17px solid transparent;
      -moz-transform: rotate(35deg);
      -webkit-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
      -o-transform: rotate(35deg); }
    .container .estrella-2 .star-five:before {
      border-bottom: 13.6px solid #ff0000;
      border-left: 5.1px solid transparent;
      border-right: 5.1px solid transparent;
      position: absolute;
      height: 0;
      width: 0;
      top: -7.65px;
      left: -11.05px;
      display: block;
      content: '';
      -webkit-transform: rotate(-35deg);
      -moz-transform: rotate(-35deg);
      -ms-transform: rotate(-35deg);
      -o-transform: rotate(-35deg); }
    .container .estrella-2 .star-five:after {
      position: absolute;
      display: block;
      color: #ff0000;
      top: 0.51px;
      left: -17.85px;
      width: 0px;
      height: 0px;
      border-right: 17px solid transparent;
      border-bottom: 11.9px solid #ff0000;
      border-left: 17px solid transparent;
      -webkit-transform: rotate(-70deg);
      -moz-transform: rotate(-70deg);
      -ms-transform: rotate(-70deg);
      -o-transform: rotate(-70deg);
      content: ''; }
  .container .estrella-3 {
    position: absolute;
    top: 220px;
    left: 35%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px 15px; }
    .container .estrella-3 .star-five {
      margin: 6.5px 0;
      position: relative;
      display: block;
      color: #ff0000;
      width: 0px;
      height: 0px;
      border-right: 13px solid transparent;
      border-bottom: 9.1px solid #ff0000;
      border-left: 13px solid transparent;
      -moz-transform: rotate(35deg);
      -webkit-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
      -o-transform: rotate(35deg); }
    .container .estrella-3 .star-five:before {
      border-bottom: 10.4px solid #ff0000;
      border-left: 3.9px solid transparent;
      border-right: 3.9px solid transparent;
      position: absolute;
      height: 0;
      width: 0;
      top: -5.85px;
      left: -8.45px;
      display: block;
      content: '';
      -webkit-transform: rotate(-35deg);
      -moz-transform: rotate(-35deg);
      -ms-transform: rotate(-35deg);
      -o-transform: rotate(-35deg); }
    .container .estrella-3 .star-five:after {
      position: absolute;
      display: block;
      color: #ff0000;
      top: 0.39px;
      left: -13.65px;
      width: 0px;
      height: 0px;
      border-right: 13px solid transparent;
      border-bottom: 9.1px solid #ff0000;
      border-left: 13px solid transparent;
      -webkit-transform: rotate(-70deg);
      -moz-transform: rotate(-70deg);
      -ms-transform: rotate(-70deg);
      -o-transform: rotate(-70deg);
      content: ''; }
  .container .estrella-4 {
    position: absolute;
    top: 220px;
    left: 43%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 22px 15px; }
    .container .estrella-4 .star-five {
      margin: 6.5px 0;
      position: relative;
      display: block;
      color: #ff0000;
      width: 0px;
      height: 0px;
      border-right: 13px solid transparent;
      border-bottom: 9.1px solid #ff0000;
      border-left: 13px solid transparent;
      -moz-transform: rotate(35deg);
      -webkit-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
      -o-transform: rotate(35deg); }
    .container .estrella-4 .star-five:before {
      border-bottom: 10.4px solid #ff0000;
      border-left: 3.9px solid transparent;
      border-right: 3.9px solid transparent;
      position: absolute;
      height: 0;
      width: 0;
      top: -5.85px;
      left: -8.45px;
      display: block;
      content: '';
      -webkit-transform: rotate(-35deg);
      -moz-transform: rotate(-35deg);
      -ms-transform: rotate(-35deg);
      -o-transform: rotate(-35deg); }
    .container .estrella-4 .star-five:after {
      position: absolute;
      display: block;
      color: #ff0000;
      top: 0.39px;
      left: -13.65px;
      width: 0px;
      height: 0px;
      border-right: 13px solid transparent;
      border-bottom: 9.1px solid #ff0000;
      border-left: 13px solid transparent;
      -webkit-transform: rotate(-70deg);
      -moz-transform: rotate(-70deg);
      -ms-transform: rotate(-70deg);
      -o-transform: rotate(-70deg);
      content: ''; }
  .container .estrella-5 {
    position: absolute;
    top: 160px;
    left: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 28px 20px; }
    .container .estrella-5 .star-five {
      margin: 5px 0;
      position: relative;
      display: block;
      color: #ff0000;
      width: 0px;
      height: 0px;
      border-right: 10px solid transparent;
      border-bottom: 7px solid #ff0000;
      border-left: 10px solid transparent;
      -moz-transform: rotate(35deg);
      -webkit-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
      -o-transform: rotate(35deg); }
    .container .estrella-5 .star-five:before {
      border-bottom: 8px solid #ff0000;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      position: absolute;
      height: 0;
      width: 0;
      top: -4.5px;
      left: -6.5px;
      display: block;
      content: '';
      -webkit-transform: rotate(-35deg);
      -moz-transform: rotate(-35deg);
      -ms-transform: rotate(-35deg);
      -o-transform: rotate(-35deg); }
    .container .estrella-5 .star-five:after {
      position: absolute;
      display: block;
      color: #ff0000;
      top: 0.3px;
      left: -10.5px;
      width: 0px;
      height: 0px;
      border-right: 10px solid transparent;
      border-bottom: 7px solid #ff0000;
      border-left: 10px solid transparent;
      -webkit-transform: rotate(-70deg);
      -moz-transform: rotate(-70deg);
      -ms-transform: rotate(-70deg);
      -o-transform: rotate(-70deg);
      content: ''; }
  .container .estrella-6 {
    position: absolute;
    top: 30px;
    left: 48%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 28px 12px; }
    .container .estrella-6 .star-five {
      margin: 5px 0;
      position: relative;
      display: block;
      color: #ff0000;
      width: 0px;
      height: 0px;
      border-right: 10px solid transparent;
      border-bottom: 7px solid #ff0000;
      border-left: 10px solid transparent;
      -moz-transform: rotate(35deg);
      -webkit-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
      -o-transform: rotate(35deg); }
    .container .estrella-6 .star-five:before {
      border-bottom: 8px solid #ff0000;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      position: absolute;
      height: 0;
      width: 0;
      top: -4.5px;
      left: -6.5px;
      display: block;
      content: '';
      -webkit-transform: rotate(-35deg);
      -moz-transform: rotate(-35deg);
      -ms-transform: rotate(-35deg);
      -o-transform: rotate(-35deg); }
    .container .estrella-6 .star-five:after {
      position: absolute;
      display: block;
      color: #ff0000;
      top: 0.3px;
      left: -10.5px;
      width: 0px;
      height: 0px;
      border-right: 10px solid transparent;
      border-bottom: 7px solid #ff0000;
      border-left: 10px solid transparent;
      -webkit-transform: rotate(-70deg);
      -moz-transform: rotate(-70deg);
      -ms-transform: rotate(-70deg);
      -o-transform: rotate(-70deg);
      content: ''; }
  .container .estrella-7 {
    position: absolute;
    top: 0px;
    left: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px 10px; }
    .container .estrella-7 .star-five {
      margin: 5px 0;
      position: relative;
      display: block;
      color: #ff0000;
      width: 0px;
      height: 0px;
      border-right: 10px solid transparent;
      border-bottom: 7px solid #ff0000;
      border-left: 10px solid transparent;
      -moz-transform: rotate(35deg);
      -webkit-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
      -o-transform: rotate(35deg); }
    .container .estrella-7 .star-five:before {
      border-bottom: 8px solid #ff0000;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      position: absolute;
      height: 0;
      width: 0;
      top: -4.5px;
      left: -6.5px;
      display: block;
      content: '';
      -webkit-transform: rotate(-35deg);
      -moz-transform: rotate(-35deg);
      -ms-transform: rotate(-35deg);
      -o-transform: rotate(-35deg); }
    .container .estrella-7 .star-five:after {
      position: absolute;
      display: block;
      color: #ff0000;
      top: 0.3px;
      left: -10.5px;
      width: 0px;
      height: 0px;
      border-right: 10px solid transparent;
      border-bottom: 7px solid #ff0000;
      border-left: 10px solid transparent;
      -webkit-transform: rotate(-70deg);
      -moz-transform: rotate(-70deg);
      -ms-transform: rotate(-70deg);
      -o-transform: rotate(-70deg);
      content: ''; }

/*# sourceMappingURL=main.css.map */
